In [10]:
p = 1000
r = 0.3
n = 1
t = 5

a = 1+ (r/n)

a = a**(n*t)

a = a * p



print(f'The future value of the investment: {a} USD')

The future value of the investment: 3712.9300000000003 USD

In [12]:
numbers = [*range(0,11)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
numbers = [*range(0,11)]

def fun(x):
    return 10 + 4*x
    
result_list = [fun(n) for n in numbers]

summed = sum(result_list)

print (summed)

330

In [1]:
subjects = {'mathematics', 'biology'}

subjects.update({'english'})

subjects

{'biology', 'english', 'mathematics'}


Follow the next steps:

Change all letters to lowercase.

Delete spaces and period.

Create a set consisting of all letters in the text and assign to letters variable

In [14]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}

text = text.lower().replace('.', '').replace(' ', '')

letters = set(text)
consonants = letters.difference(vowels)
print(f'Number of items: {len(consonants)}')

Number of items: 8

In [6]:
var1 = None
var2 = False
var3 = 'True'

print(type(var1))

print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

The following text is given:



text = 'python is a popular programming language.'


Using the appropriate method count the number of occurrences of the letter 'p' and print the result to the console as shown below.

In [8]:
text = 'python is a popular programming language.'

count = 0

for i in text:
    if i == 'p':
        count = count + 1

count

4

In [11]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'

x = code1.endswith('2020')
y = code2.endswith('2020')

print(f'code1: {x}')

print(f'code2: {y}')

code1: True
code2: False

Exercise 34
The following paths are given:



path1 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
path2 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-deep-learning-engineer"
)
path3 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-bi-analyst-data-analyst"
)


Using the appropriate method, find the word 'scientist' in the given paths, returning the index for the first letter of the found word. If the word is not in the path, the method should return -1. Print the result to the console as shown below.



Expected result:



path1: 49
path2: 49
path3: -1

In [13]:
path1 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-machine-learning-engineer"
)
path2 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-data-scientist-deep-learning-engineer"
)
path3 = (
    "https://e-smartdata.teachable.com/p/"
    "sciezka-bi-analyst-data-analyst"
)

print(path1.find('scientist'))

print(path2.find('scientist'))
print(path3.find('scientist'))

49
49
-1

In [15]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

res = dji1 + dji2

res

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [17]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

res = ((dji1, ) + (dji2, ))

res

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [23]:
members = (('Kate', 23), ('Tom', 19))

members = list(members)

members.insert('John', 26)

members = tuple(members)

TypeError: 'str' object cannot be interpreted as an integer

In [26]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')

print('The number of occurances:', default.count('YES'))

The number of occurances: 2

In [31]:
names = ('Monica', 'Tom', 'John', 'Michael')

list(names).sort()

print(names)

('Monica', 'Tom', 'John', 'Michael')

In [34]:
names = ('Monica', 'Tom', 'John', 'Michael')

sortit = tuple(sorted(names))

print(sorted)

TypeError: 'tuple' object is not callable

In [41]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))

up = tuple(sorted(info, key = lambda x: x[1]))
down = tuple(sorted(info, key=lambda x: x[1], reverse = True))

print(f'Ascending: {up}')
print(f'Descending: {down}')

TypeError: 'tuple' object is not callable

In [45]:
stocks = (('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)))

x = stocks[0][1][0]
x

'AAPL.US'

In [52]:
text = 'Python programming'

text = text.lower().replace(' ', '')

text = set(text)

text = list(text)

text.sort()

text

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [60]:
hashtags = ['summer', 'time', 'vibes']

hashes = ['#' + hasht for hasht in hashtags]

hashes = hashes.join(hashes)

AttributeError: 'list' object has no attribute 'join'

In [62]:

my_dict = {'USA': 'Washington',
'Germany': 'Berlin',
'Austria': 'Vienna'}

my_dict.keys()

dict_keys(['USA', 'Germany', 'Austria'])

In [63]:
my_dict.values()

dict_values(['Washington', 'Berlin', 'Vienna'])

In [65]:
dict_items = [(k ,v)for k, v in my_dict.items()]

In [67]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}

stocks.update({'Microsoft Corp':190})

stocks

{'MSFT.US': {'Microsoft Corp': 184},
 'AAPL.US': {'Apple Inc': 310},
 'MMM.US': {'3M Co': 148},
 'Microsoft Corp': 190}

In [68]:
stocks['MSFT.US']['Microsoft Corp'] = 190

In [69]:
stocks

{'MSFT.US': {'Microsoft Corp': 190},
 'AAPL.US': {'Apple Inc': 310},
 'MMM.US': {'3M Co': 148},
 'Microsoft Corp': 190}